a {
    liststyle-type:none;
    }
.b {
    liststyle-type:circle;
    }
.c {
    liststyle-type:disc;
    }
.d {
    liststyle-type:square;
    }
.e {
    liststyle-type:decimal;
    }
.f {
    liststyle-type:lower-roman;
    }
.g {
    liststyle-type:upper-roman;
    }
.h {
    liststyle-type:lower-alpha;
    }
.i { 
    liststyle-type:upper-alpha;
    }
    